@model RealEstates.Web.ViewModels.ForSale.ForSellViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>For Sale</h2>

@using (Ajax.BeginForm("Search", null, new AjaxOptions
{
    UpdateTargetId = "results",
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST"
}, new { id = "searchForm" }))
{
    <div class="form-group">
        <div class="col-md-12">
            <label class="search-bb">
                Beds<br>
                <select id="searchBeds" name="beds">
                    <option selected="selected" value="">Any</option>
                    <option value="1">1+</option>
                    <option value="2">2+</option>
                    <option value="3">3+</option>
                    <option value="4">4+</option>
                    <option value="5">5+</option>
                </select>
            </label>
            <label class="search-propertyType">
                Property Type<br>
                <select id="type" name="property_type">
                    <option value="">All Available</option>
                    <option value="Apartment">Apartments</option>
                    <option value="House">House</option>
                    <option value="Office">Office</option>
                    <option value="Storehouse">Storehouse</option>
                </select>
            </label>
            <div class="row">
                <label for="minPrice">
                    Price Range<br />
                    <input type="text" id="minPrice" name="minPrice">
                </label>
                <span class="label_s">to</span>
                <input type="text" id="maxPrice" name="maxPrice">
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <label for="minLotSize">
                    Lot Size<br />
                    <input type="text" id="minLotSize" name="minLotSize">
                </label>
                <span class="label_s">to</span>
                <input type="text" id="maxLotSize" name="maxLotSize">
            </div>
            <div class="row">
                <label for="minYear">
                    Year Built<br />
                    <input type="text" id="minYear" name="minYear">
                </label>
                <span class="label_s">to</span>
                <input type="text" id="maxYear" name="maxYear">
            </div>
            <div class="row">
                <label for="minSQFT">
                    Square Feet<br/>
                    <input type="text" id="minSQFT" name="minSQFT">
                </label>
                <span class="label_s">to</span>
                <input type="text" id="maxSQFT" name="maxSQFT">
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Search" class="btn btn-info" />
        </div>
    </div>
}

<div class="container" id="results">
    @Html.Partial("_RealEstatesForSaleTemplate", Model)
</div>
