@model RealEstates.Web.ViewModels.ForSale.ForSellViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>For Sale</h2>

@Html.Partial("_SearchForm")

<div class="container" id="results">
    @Html.Partial("_RealEstatesForSaleTemplate", Model)
</div>

